@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-premium-grid {
    background-color: #020617; /* dark premium black */
    background-image:
      linear-gradient(to right, rgba(96,165,250,0.06) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(96,165,250,0.06) 1px, transparent 1px);
    background-size: 48px 48px;
  }
}
